.container {
  width: 90%;
  max-width: 350px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.logo__container {
  width: 30px;
  height: 30px;
  margin-bottom: 9rem;
}

.header {
  word-wrap: break-word;
  width: 100%;
  color: var(--clr-dark-gray);
  letter-spacing: 1.5px;
}

.form {
  width: 100%;
  height: 65px;
  padding-top: 1rem;
  position: relative;
}

.label {
  position: absolute;
  top: 0.4rem;
  left: 1rem;
  font-size: 0.95rem;
  background-color: #fff;
  color: var(--clr-light-gray);
  padding: 0 0.2rem;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid #c2c8d0;
  border-radius: 3px;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.warning {
  background-color: rgb(255, 240, 240);
}
