@import "../variables.css";

.questionnaire__buttons {
  width: 100%;
  max-width: 200px;
}

.questionnaire__button {
  display: inline-block;
  width: inherit;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.button-type-styles {
  margin-bottom: 1rem;
}

.submit-type-styles {
  background-color: var(--bg-third);
  color: #ffffff;
  font-size: 1.2rem;
}

.button-type-styles:hover {
  background-color: #dbdbdb;
}

.submit-type-styles:hover {
  background-color: var(--bg-third-hover);
}

@media screen and (min-width: 768px) {
  .questionnaire__buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .questionnaire__button {
    width: 45%;
  }
  .button-type-styles {
    margin-bottom: 0rem;
  }
}
