@import "../variables.css";

.questionnaire {
  background-color: var(--bg-main);
  width: 90%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.questionnaire__title {
  text-align: center;
  font-size: 1.5rem;
}

.questionnaire__form {
  margin: 1rem;
  height: 70vh;
  min-height: 280px;
  overflow-y: scroll;
}

.questionnaire__svg {
  display: none;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
}

.questionnaire__buttons {
  width: 100%;
  max-width: 200px;
}

.questionnaire__results {
  margin: 1rem;
  height: 70vh;
  min-height: 280px;
  overflow-y: scroll;
}

.questionnaire__result {
  max-width: 200px;
  word-wrap: break-word;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.questionnaire__result:nth-child(8) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .questionnaire__svg {
    display: inline-block;
  }
  .questionnaire__buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.none {
  display: none;
}
