@import "../variables.css";

.questionnaire__msg {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  border-radius: 15px;
  transition: 0.3s all;
}

.questionnaire__sent-color {
  background-color: var(--bg-third);
}

.questionnaire__cancelled-color {
  background-color: rgb(255, 203, 106);
}

.hidden {
  visibility: hidden;
}

.transparent {
  opacity: 0;
}
