.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
}

.input_container {
  position: relative;
  height: 40px;
}

.input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 2rem;
}

.icon {
  border: none;
  background-color: transparent;
  top: 50%;
  right: 0;
  font-size: 1.1rem;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  color: rgb(176, 176, 176);
}

.blue {
  color: rgb(1, 63, 207);
}

.warning {
  background-color: rgb(255, 240, 240);
}
